body {
  font-family: "微软雅黑", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
}

/* 菜单大框架 */
.menu {
  margin: 30px;
  background-color: #fce3e3;
  padding: 30px;
  border-radius: 4px;
}


.menu-body h2 {
  font-size: 24px;
  color: #333;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: #eee;
  padding: 10px;
  border-radius: 4px;
}

.menu-body .price {
  width: 900px;
  margin: 0 auto;
  font-size: 16px;
  color: #4da6ff;
  font-weight: bold;
}

.food {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 15px;
  margin: 0 0 15px;
  background-color: #f9f9f9;
}